# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional: Testing
coverage/

# Optional: Production build
dist/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

.vscode
